.nav-block{margin-top:1%;margin-bottom:1%;}
.nav-block--center{margin-top:1%;margin-bottom:1%;}
.nav-block .section-line{border-color:#eee;}
#nav .nav-custom-link .header-nav-dropdown-wrapper .heading{margin:10px 0;}
.nav-regular .caret{display:inline-block;width:0;height:0;margin-bottom:2px;margin-left:2px;vertical-align:middle;content:"";border-color:#333 transparent transparent;border-style:solid solid none;border-width:4px 4px 0;}
.nav-regular .caret{display:none;}
.nav-regular .nav-item--parent > a .caret{display:inline-block;}
.nav-regular .nav-panel a .caret{border-color:transparent transparent transparent #333;border-style:solid none solid solid;border-width:4px 0 4px 4px;margin-left:5px;opacity:0.2;}
.nav-regular .nav-panel a:hover .caret{opacity:1;}
.nav-regular a .caret{transition:border-color 450ms ease-in-out, opacity 450ms ease-in-out;-moz-transition:border-color 450ms ease-in-out, opacity 450ms ease-in-out;-webkit-transition:border-color 450ms ease-in-out, opacity 450ms ease-in-out;-o-transition:border-color 450ms ease-in-out, opacity 450ms ease-in-out;}
.nav-regular a:hover .caret{transition-duration:100ms;-moz-transition-duration:100ms;-webkit-transition-duration:100ms;-o-transition-duration:100ms;}
.nav-regular .nav-item--home a{}
.nav-regular .nav-item--home .ic{display:inline-block;font-size:16px;padding:0;width:30px;text-align:center;vertical-align:middle;float:none;background-color:transparent !important;}
#nav .nav-item--homeicon a{padding-left:17px;padding-right:5px;background:none !important;box-shadow:none !important;border:none !important;opacity:1;transition:opacity 450ms ease-in-out;-moz-transition:opacity 450ms ease-in-out;-webkit-transition:opacity 450ms ease-in-out;-o-transition:opacity 450ms ease-in-out;}
#nav .nav-item--homeicon a:hover{opacity:0.6;transition-duration:100ms;-moz-transition-duration:100ms;-webkit-transition-duration:100ms;-o-transition-duration:100ms;}
.cat-label{padding:2px 4px;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;line-height:18px;text-transform:none;text-shadow:none;transition:color 450ms ease-in-out, background-color 450ms ease-in-out;-moz-transition:color 450ms ease-in-out, background-color 450ms ease-in-out;-webkit-transition:color 450ms ease-in-out, background-color 450ms ease-in-out;-o-transition:color 450ms ease-in-out, background-color 450ms ease-in-out;}
li > a:hover > span > .cat-label{transition-duration:100ms;-moz-transition-duration:100ms;-webkit-transition-duration:100ms;-o-transition-duration:100ms;}
li.level0 > a > span{position:relative;font-weight:bold;}
li.level0 > a > span > .cat-label{position:absolute;top:-10px;right:0;padding:0 6px;font-size:14px;line-height:22px;}
li.level0 > a > span > .pin-bottom:before{position:absolute;right:6px;top:22px;width:0;height:0;content:"";border-style:solid;border-width:4px;border-color:transparent;transition:border-color 450ms ease-in-out;-moz-transition:border-color 450ms ease-in-out;-webkit-transition:border-color 450ms ease-in-out;-o-transition:border-color 450ms ease-in-out;}
li.level0 > a:hover > span > .pin-bottom:before{transition-duration:100ms;-moz-transition-duration:100ms;-webkit-transition-duration:100ms;-o-transition-duration:100ms;}
li.level1 > a > span > .cat-label{display:inline-block !important;padding:0 4px;margin-left:5px;vertical-align:middle;}
li.level2 > a > span > .cat-label{display:inline-block !important;padding:0 4px;margin-left:2px;}
.nav-mobile li > a > span > .cat-label{position:static;display:inline-block !important;padding:0 4px;margin-left:5px;font-size:14px;line-height:18px;}
.nav-mobile li > a > span > .pin-bottom:before{display:none;}
#nav a.no-click{cursor:default;}
#nav,
.mobnav-trigger,
.nav-regular .nav-item.level0 > a{-webkit-tap-highlight-color:transparent;}
#nav{z-index:2000;-webkit-transform:translateZ(0);background:#FFF;position:absolute;width:73%;}
#nav.nav-mobile{display:none;}
#nav.nav-mobile.show{display:block;}
.mobnav-trigger,
.nav-regular .nav-item.level0 > a{line-height:50px;}
.nav-regular .opener{display:none;}
.nav-regular .hide-in-desktop-menu{display:none !important;}
div.mobnav-trigger-wrapper{display:none;position:absolute;top:0px;z-index:9;}
.mobnav-trigger{display:block;}
.mobnav-trigger .trigger-icon{display:block;float:left;width:23px;padding-top:11px;margin:0 8px 0 0;}
.mobnav-trigger .trigger-icon .line{display:block;background-color:#fff;height:3px;margin-bottom:2px;}
.nav-mobile .nav-panel--dropdown{width:100% !important;left:0 !important;top:0 !important;}
.nav-mobile .nav-item--only-subcategories > .nav-panel--dropdown{background-color:transparent !important;}
.nav-mobile .nav-block{display:none;}
.nav-mobile.opt-sb0 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb0 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb0 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb0 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile.opt-sb1 li.level0 > div > div > .nav-block{display:block;}
.nav-mobile.opt-sb1 ul.level0 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb1 ul.level0 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb1 ul.level0 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb1 ul.level0 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile.opt-sb2 li.level0 > div > div > .nav-block,
.nav-mobile.opt-sb2 li.level1 > div > div > .nav-block{display:block;}
.nav-mobile.opt-sb2 ul.level1 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb2 ul.level1 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb2 ul.level1 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb2 ul.level1 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile.opt-sb3 li.level0 > div > div > .nav-block,
.nav-mobile.opt-sb3 li.level1 > div > div > .nav-block,
.nav-mobile.opt-sb3 li.level2 > div > div > .nav-block{display:block;}
.nav-mobile.opt-sb3 ul.level2 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb3 ul.level2 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb3 ul.level2 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb3 ul.level2 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile.opt-sb4 li.level0 > div > div > .nav-block,
.nav-mobile.opt-sb4 li.level1 > div > div > .nav-block,
.nav-mobile.opt-sb4 li.level2 > div > div > .nav-block,
.nav-mobile.opt-sb4 li.level3 > div > div > .nav-block{display:block;}
.nav-mobile.opt-sb4 ul.level3 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb4 ul.level3 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb4 ul.level3 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb4 ul.level3 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile.opt-sb5 li.level0 > div > div > .nav-block,
.nav-mobile.opt-sb5 li.level1 > div > div > .nav-block,
.nav-mobile.opt-sb5 li.level2 > div > div > .nav-block,
.nav-mobile.opt-sb5 li.level3 > div > div > .nav-block,
.nav-mobile.opt-sb5 li.level4 > div > div > .nav-block{display:block;}
.nav-mobile.opt-sb5 ul.level4 .nav-item > div{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:transparent !important;}
.nav-mobile.opt-sb5 ul.level4 .nav-item > div > div{padding:0 !important;}
.nav-mobile.opt-sb5 ul.level4 .nav-item > div > div > .nav-block--center{margin:0;width:100%;}
.nav-mobile.opt-sb5 ul.level4 .nav-item.nav-item--only-blocks{display:none;}
.nav-mobile .caret{display:none !important;}
.nav-mobile .nav-item--home{display:none !important;}
.nav-mobile .hide-in-mobile-menu{display:none !important;}
.nav .itemslider{margin-top:0;margin-bottom:0;}
.nav .itemslider .item{padding-bottom:0;}
.nav .itemslider .product-name a{display:inline-block;}
.nav .itemslider .product-name{margin-top:8px;}
@media screen and (max-width:767px){#nav{width:90%;}
}
@media only screen and (min-width:768px) and (max-width:999px){}