<?xml version="1.0"?>
<config>
    <modules>
        <Senorita_Tailormaster>
            <version>0.1.0</version>
        </Senorita_Tailormaster>
    </modules>
    <frontend>
        <routers>
            <tailormaster>
                <use>standard</use>
                <args>
                    <module>Senorita_Tailormaster</module>
                    <frontName>tailormaster</frontName>
                </args>
            </tailormaster>
        </routers>
        <layout>
            <updates>
                <tailormaster>
                    <file>tailormaster.xml</file>
                </tailormaster>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tailormaster>
				<use>admin</use>
				<args>
					<module>Senorita_Tailormaster</module>
					<frontName>tailormaster</frontName>
				</args>
			</tailormaster>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<tailormaster module="tailormaster">
				<title>Tailormaster</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="tailormaster">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>tailormaster/adminhtml_tailormaster</action>
					</items>
				</children>
			</tailormaster>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<tailormaster>
							<title>Tailormaster Module</title>
							<sort_order>2002</sort_order>
								<children>
									<items module="tailormaster">
										<title>Manage Items</title>
										<sort_order>0</sort_order>
									</items>
								</children>
						</tailormaster>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<tailormaster>
					<file>tailormaster.xml</file>
				</tailormaster>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <tailormaster>
                <class>Senorita_Tailormaster_Model</class>
                <resourceModel>tailormaster_mysql4</resourceModel>
            </tailormaster>
            <tailormaster_mysql4>
                <class>Senorita_Tailormaster_Model_Mysql4</class>
                <entities>
                    <tailormaster>
                        <table>tailormaster</table>
                    </tailormaster>
                </entities>
            </tailormaster_mysql4>
        </models>
        <resources>
            <tailormaster_setup>
                <setup>
                    <module>Senorita_Tailormaster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tailormaster_setup>
            <tailormaster_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tailormaster_write>
            <tailormaster_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tailormaster_read>
        </resources>
        <blocks>
            <tailormaster>
                <class>Senorita_Tailormaster_Block</class>
            </tailormaster>
        </blocks>
        <helpers>
            <tailormaster>
                <class>Senorita_Tailormaster_Helper</class>
            </tailormaster>
        </helpers>
    </global>
</config>