<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_QuoteItemRule>
            <version>1.0.0.0</version>
        </Inchoo_QuoteItemRule>
    </modules>
    <global>
        <models>
            <salesrule>
                <rewrite>
                    <rule_condition_product>Inchoo_QuoteItemRule_Model_SalesRule_Rule_Condition_Product</rule_condition_product>    
                </rewrite>
            </salesrule>
        </models>
    </global>
</config>