<?xml version="1.0"?>
<config>
    <modules>
        <Dolphin_Productqa>
            <version>1.0.1</version>
        </Dolphin_Productqa>
    </modules>
    <frontend>
        <routers>
            <productqa>
                <use>standard</use>
                <args>
                    <module>Dolphin_Productqa</module>
                    <frontName>productqa</frontName>
                </args>
            </productqa>
        </routers>
        <layout>
            <updates>
                <productqa>
                    <file>productqa.xml</file>
                </productqa>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productqa>
				<use>admin</use>
				<args>
					<module>Dolphin_Productqa</module>
					<frontName>productqa</frontName>
				</args>
			</productqa>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<productqa module="productqa">
				<title>Product Video</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productqa">
						<title>Product Video Suggesition</title>
						<sort_order>0</sort_order>
						<action>productqa/adminhtml_productqa</action>
					</items>
				</children>
			</productqa>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Dolphin_Productqa>
							<title>Productqa Module</title>
							<sort_order>10</sort_order>
						</Dolphin_Productqa>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productqa>
					<file>productqa.xml</file>
				</productqa>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <productqa>
                <class>Dolphin_Productqa_Model</class>
                <resourceModel>productqa_mysql4</resourceModel>
            </productqa>
            <productqa_mysql4>
                <class>Dolphin_Productqa_Model_Mysql4</class>
                <entities>
                    <productqa>
                        <table>productqa</table>
                    </productqa>
                </entities>
            </productqa_mysql4>
        </models>
        <resources>
            <productqa_setup>
                <setup>
                    <module>Dolphin_Productqa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productqa_setup>
            <productqa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productqa_write>
            <productqa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productqa_read>
        </resources>
        <template>
            <email>
                <catalog_email_email_template translate="label" module="productqa">
                    <label>Product Question Form</label>
                    <file>product_question.html</file>
                    <type>html</type>
                </catalog_email_email_template>    
                 <catalog_email_email2_template translate="label" module="productqa">
                    <label>Answer Notification</label>
                    <file>product_answer.html</file>
                    <type>html</type>
                </catalog_email_email2_template>            
            </email>
        </template>
        <blocks>
            <productqa>
                <class>Dolphin_Productqa_Block</class>
            </productqa>
        </blocks>
        <helpers>
            <productqa>
                <class>Dolphin_Productqa_Helper</class>
            </productqa>
        </helpers>
    </global>
    <default>
        <catalog>
            <productqa>
                <enabled>0</enabled>
				<product_number>3</product_number>
				<link_text>Click to ask a question</link_text>
            </productqa>  
            <email>       
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>catalog_email_email_template</email_template> 
                <email_template>catalog_email_email2_template</email_template> 
            </email>            
        </catalog>
    </default>
</config>