
.ProdListingMain {
    margin: 0 0 0 15px;
    width: 740px;
}

.breadcrumb {
    height: 54px;
    vertical-align: top;
}
.breadcrumb span {
    font-weight: bold;
}
.address_book_heading {
    background-color: #ECECEC;
    height: 18px;
    margin: 5px 0 0 5px;
    padding: 3px 0 3px 6px !important;
    width: 725px;
}
.accOdrStat {
    height: 20px;
    text-align: right;
}
.address_book_text {
    height: 25px;
    margin: 8px 0 0 15px;
    padding: 0 0 5px;
    width: 700px;
}
.form_divider {
    background: url("images/form_divider.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px;
}