.clearfix{*zoom:1;}
.clearfix:before,
.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.menu-default#nav ul.level0{background:#ECF3F6;}
.menu-default#nav ul.level0.rows{width:auto;}
.menu-default#nav ul.level0 li{background:none;}
.menu-default#nav ul.level0 li.parent a{background:none;}
.menu-default#nav ul.level0 li.parent a:hover{background:#D5E4EB;}
.menu-default#nav ul.level0 ul{position:relative;display:block;left:auto;top:auto;margin-left:10px;border:none;width:auto;}
.menu-default#nav ul.level0 li.divider{background:#ccc;height:1px;padding:0;}
.menu-default#nav li.level0.open > ul{left:0;display:block;}
.menu-default#nav li.level0 > ul{display:block;left:0;display:none;}
.menu-default#nav .columns{*zoom:1;}
.menu-default#nav .columns:before,
.menu-default#nav .columns:after{display:table;content:"";line-height:0;}
.menu-default#nav .columns:after{clear:both;}
.menu-default#nav .columns .column{float:left;position:relative;width:197px;z-index:100;margin-right:10px;}
.menu-default#nav .columns .column > ul{margin-left:0px;}
.menu-default#nav .columns.columns-2{width:424px;}
.menu-default#nav .columns.columns-2 > ul{width:424px;*zoom:1;}
.menu-default#nav .columns.columns-2 > ul:before,
.menu-default#nav .columns.columns-2 > ul:after{display:table;content:"";line-height:0;}
.menu-default#nav .columns.columns-2 > ul:after{clear:both;}
.menu-default#nav .columns.columns-3{width:621px;}
.menu-default#nav .columns.columns-3 > ul{width:631px;*zoom:1;}
.menu-default#nav .columns.columns-3 > ul:before,
.menu-default#nav .columns.columns-3 > ul:after{display:table;content:"";line-height:0;}
.menu-default#nav .columns.columns-3 > ul:after{clear:both;}
.menu-default#nav .columns.columns-4{width:828px;}
.menu-default#nav .columns.columns-4 > ul{width:838px;*zoom:1;}
.menu-default#nav .columns.columns-4 > ul:before,
.menu-default#nav .columns.columns-4 > ul:after{display:table;content:"";line-height:0;}
.menu-default#nav .columns.columns-4 > ul:after{clear:both;}
.menu-default#nav .columns.columns-5{width:1035px;}
.menu-default#nav .columns.columns-5 > ul{width:1045px;*zoom:1;}
.menu-default#nav .columns.columns-5 > ul:before,
.menu-default#nav .columns.columns-5 > ul:after{display:table;content:"";line-height:0;}
.menu-default#nav .columns.columns-5 > ul:after{clear:both;}