<?xml version="1.0"?>
<config>
    <modules>
        <Sareez_Mostviewed>
            <version>0.1.0</version>
        </Sareez_Mostviewed>
    </modules>
    <frontend>
        <routers>
            <mostviewed>
                <use>standard</use>
                <args>
                    <module>Sareez_Mostviewed</module>
                    <frontName>mostviewed</frontName>
                </args>
            </mostviewed>
        </routers>
        <layout>
            <updates>
                <mostviewed>
                    <file>mostviewed.xml</file>
                </mostviewed>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mostviewed>
				<use>admin</use>
				<args>
					<module>Sareez_Mostviewed</module>
					<frontName>mostviewed</frontName>
				</args>
			</mostviewed>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mostviewed module="mostviewed">
				<title>Mostviewed</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="mostviewed">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>mostviewed/adminhtml_mostviewed</action>
					</items>
				</children>
			</mostviewed>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sareez_Mostviewed>
							<title>Mostviewed Module</title>
							<sort_order>10</sort_order>
						</Sareez_Mostviewed>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mostviewed>
					<file>mostviewed.xml</file>
				</mostviewed>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mostviewed>
                <class>Sareez_Mostviewed_Model</class>
                <resourceModel>mostviewed_mysql4</resourceModel>
            </mostviewed>
            <mostviewed_mysql4>
                <class>Sareez_Mostviewed_Model_Mysql4</class>
                <entities>
                    <mostviewed>
                        <table>mostviewed</table>
                    </mostviewed>
                </entities>
            </mostviewed_mysql4>
        </models>
        <resources>
            <mostviewed_setup>
                <setup>
                    <module>Sareez_Mostviewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewed_setup>
            <mostviewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewed_write>
            <mostviewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewed_read>
        </resources>
        <blocks>
            <mostviewed>
                <class>Sareez_Mostviewed_Block</class>
            </mostviewed>
        </blocks>
        <helpers>
            <mostviewed>
                <class>Sareez_Mostviewed_Helper</class>
            </mostviewed>
        </helpers>
    </global>
</config>