<?xml version="1.0"?>
		
<config>
	<modules>
		<Itoris_AjaxMiniCart>
			<version>1.0.8</version>
		</Itoris_AjaxMiniCart>
	</modules>

	<admin>
		<routers>
			<itoris_ajaxminicart>
				<use>admin</use>
				<args>
					<module>Itoris_AjaxMiniCart</module>
					<frontName>itoris_ajaxminicart</frontName>
				</args>
			</itoris_ajaxminicart>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<itoris_ajaxminicart>
					<file>itoris_ajaxminicart.xml</file>
				</itoris_ajaxminicart>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_AjaxMiniCart>
					<files>
						<default>Itoris_AjaxMiniCart.csv</default>
					</files>
				</Itoris_AjaxMiniCart>
			</modules>
		</translate>
	</adminhtml>

	<frontend>
		<routers>
			<ajaxminicart>
				<use>standard</use>
				<args>
					<module>Itoris_AjaxMiniCart</module>
					<frontName>ajaxminicart</frontName>
				</args>
			</ajaxminicart>
		</routers>
		<layout>
			<updates>
				<itoris_ajaxminicart>
					<file>itoris_ajaxminicart.xml</file>
				</itoris_ajaxminicart>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_AjaxMiniCart>
					<files>
						<default>Itoris_AjaxMiniCart.csv</default>
					</files>
				</Itoris_AjaxMiniCart>
			</modules>
		</translate>
	</frontend>

	<global>
		<blocks>
			<itoris_ajaxminicart>
				<class>Itoris_AjaxMiniCart_Block</class>
			</itoris_ajaxminicart>
		</blocks>
		<models>
			<itoris_ajaxminicart>
				<class>Itoris_AjaxMiniCart_Model</class>
				<resourceModel>itoris_ajaxminicart_mysql4</resourceModel>
			</itoris_ajaxminicart>
			<itoris_ajaxminicart_mysql4>
				<class>Itoris_AjaxMiniCart_Model_Mysql4</class>
			</itoris_ajaxminicart_mysql4>
		</models>
		<helpers>
			<itoris_ajaxminicart>
				<class>Itoris_AjaxMiniCart_Helper</class>
			</itoris_ajaxminicart>
		</helpers>
		<resources>
            <itoris_ajaxminicart_setup>
				<setup>
					<module>Itoris_AjaxMiniCart</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </itoris_ajaxminicart_setup>

			<itoris_ajaxminicart_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
	        </itoris_ajaxminicart_write>

	       <itoris_ajaxminicart_read>
		        <connection>
		          <use>core_read</use>
		        </connection>
	       </itoris_ajaxminicart_read>
        </resources>
	</global>
</config>