<?xml version="1.0"?>
<config>
    <modules>
        <Iksanika_Productupdater>
            <version>1.0.0</version>
        </Iksanika_Productupdater>
    </modules>
    <admin>                                                                                                                
        <routers>                                                                                                          
            <productupdater>                                                                                                 
                <!-- should be set to "admin" when overloading admin stuff (?) -->                                         
                <use>admin</use>                                                                                           
                <args>                                                                                                     
                    <module>Iksanika_Productupdater</module>                                                                      
                    <!-- This is used when "catching" the rewrite above -->                                                
                    <frontName>productupdater</frontName>                                                                    
                </args>                                                                                                    
            </productupdater>                                                                                                
        </routers>                                                                                                         
    </admin>
    <global>
        <blocks>
            <productupdater>
                <class>Iksanika_Productupdater_Block</class>
            </productupdater>
        </blocks>
        <helpers>                                                                                                              
            <productupdater>                                                                                                     
                <class>Iksanika_Productupdater_Helper</class>                                                                         
            </productupdater>                                                                                                    
        </helpers>                                                                                                             
        <models>
            <catalog>
                <rewrite>
                    <product>Iksanika_Productupdater_Model_Product</product>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Iksanika_Productupdater_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <blocks>                                                                                                               
            <adminhtml>                                                                                                          
                <rewrite>
                    <widget_grid_column>Iksanika_Productupdater_Block_Widget_Grid_Column</widget_grid_column>                               
                </rewrite>                                                                                                         
            </adminhtml>                                                                                                         
        </blocks>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <iksanika_productupdater_product_save>
                        <type>model</type>
                        <class>Iksanika_Productupdater_Model_Observer</class> 
                        <method>prepareProductSave</method>
                    </iksanika_productupdater_product_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
                                                                                                                           
    <!-- Relate Stuff -->                                                                                                  
    </global>    
    <adminhtml>                                                                                                            
        <layout>                                                                                                           
            <updates>                                                                                                      
                <productupdater>                
                    <file>iksanika_produpd.xml</file>                                                                      
                </productupdater>                                                                                            
            </updates>                                                                                                     
        </layout>
        <menu>                                                                                                             
            <catalog module="productupdater">                                                                    
                <children>                                                                                         
                    <productupdater module="productupdater">                                               
                        <title>Products Manager (Advanced)</title>                                  
                        <sort_order>0</sort_order>                                                 
                        <action>productupdater/catalog_product</action>                              
                    </productupdater>                                                                    
                </children>                                                                                
            </catalog>                                                                                         
        </menu>    
    </adminhtml>                                                                                                            
    <default>
        <productupdater>
            <general>
                <isenabled>1</isenabled>
                <truncatelongtextafter>60</truncatelongtextafter>
            </general>
            <columns>
                <showcolumns>id,name,type_id,attribute_set_id,sku,price,qty,visibility,status,websites,image</showcolumns>
                <limit>50</limit>
                <page>1</page>
                <sort>id</sort>
                <dir>desc</dir>
            </columns>
            <images>
                <showurl>0</showurl>
                <showbydefault>1</showbydefault>
                <width>75</width>
                <height>75</height>
            </images>
            <productrelator>
                <enablerelated>1</enablerelated>
                <enablecrosssell>1</enablecrosssell>
                <enableupsell>1</enableupsell>
            </productrelator>
            <defaults>
            </defaults>
        </productupdater>
    </default>
    <adminhtml>
        <acl>                                                                                                              
            <resources>                                                                                                      
                <all>                                                                                              
                    <title>Allow Everything</title>                                                            
                </all>                                                                                             
                <admin>                                                                                                        
                    <children>                                                                                                   
                        <catalog>                                                                                                
                            <children>                                                                                         
                                <productupdater>                                                                     
                                    <title>Products Manager (Advanced)</title>                                                         
                                </productupdater>                                                                    
                            </children>                                                                                
                        </catalog>                                                                                               
                        <system>                                                                                                 
                            <children>                                                                                           
                                <config>                                                                                           
                                    <children>                                                                                       
                                        <productupdater>                                                                                 
                                            <title>Products Manager (Advanced) Config</title>                                                          
                                        </productupdater>                                                                                
                                    </children>                                                                                      
                                </config>                                                                                          
                            </children>                                                                                          
                        </system>                                                                                                
                    </children>                                                                                                  
                </admin>                                                                                                       
            </resources>                                                                                                     
        </acl>                                                                                                             
    </adminhtml>        
</config>