<?xml version="1.0"?>
<config>
    <modules>
        <Senorita_Autoinvoice>
            <version>0.1.0</version>
        </Senorita_Autoinvoice>
    </modules>
    <frontend>
        <routers>
            <autoinvoice>
                <use>standard</use>
                <args>
                    <module>Senorita_Autoinvoice</module>
                    <frontName>autoinvoice</frontName>
                </args>
            </autoinvoice>
        </routers>
        <layout>
            <updates>
                <autoinvoice>
                    <file>autoinvoice.xml</file>
                </autoinvoice>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<autoinvoice>
				<use>admin</use>
				<args>
					<module>Senorita_Autoinvoice</module>
					<frontName>autoinvoice</frontName>
				</args>
			</autoinvoice>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<autoinvoice module="autoinvoice">
				<title>Autoinvoice</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="autoinvoice">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>autoinvoice/adminhtml_autoinvoice</action>
					</items>
				</children>
			</autoinvoice>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Senorita_Autoinvoice>
							<title>Autoinvoice Module</title>
							<sort_order>10</sort_order>
						</Senorita_Autoinvoice>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<autoinvoice>
					<file>autoinvoice.xml</file>
				</autoinvoice>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <autoinvoice>
                <class>Senorita_Autoinvoice_Model</class>
                <resourceModel>autoinvoice_mysql4</resourceModel>
            </autoinvoice>
            <autoinvoice_mysql4>
                <class>Senorita_Autoinvoice_Model_Mysql4</class>
                <entities>
                    <autoinvoice>
                        <table>autoinvoice</table>
                    </autoinvoice>
                </entities>
            </autoinvoice_mysql4>
        </models>
        <resources>
            <autoinvoice_setup>
                <setup>
                    <module>Senorita_Autoinvoice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autoinvoice_setup>
            <autoinvoice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </autoinvoice_write>
            <autoinvoice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </autoinvoice_read>
        </resources>
        <blocks>
            <autoinvoice>
                <class>Senorita_Autoinvoice_Block</class>
            </autoinvoice>
        </blocks>
        <helpers>
            <autoinvoice>
                <class>Senorita_Autoinvoice_Helper</class>
            </autoinvoice>
        </helpers>
		<events>
		<sales_order_shipment_save_after>
			<observers>
				<senorita_autoinvoice>
				<type>singleton</type>
				<class>Senorita_Autoinvoice_Model_Observer</class>
				<method>autoInvoice</method>
				</senorita_autoinvoice>
			</observers>
		</sales_order_shipment_save_after>
    </events>
    </global>
</config>