<?xml version="1.0"?>
<config>
    <modules>
        <VJTemplates_OnSaleHorzCarousel>
            <version>1.0.3</version>
        </VJTemplates_OnSaleHorzCarousel>
    </modules>
    <frontend>
        <routers>
            <onsalehorzcarousel>
                <use>standard</use>
                <args>
                    <module>VJTemplates_OnSaleHorzCarousel</module>
                    <frontName>onsalehorzcarousel</frontName>
                </args>
            </onsalehorzcarousel>
        </routers>
        <layout>
            <updates>
                <onsalehorzcarousel>
                    <file>vjtemplates/onsalehorzcarousel.xml</file>
                </onsalehorzcarousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <onsalehorzcarousel>
                <class>VJTemplates_OnSaleHorzCarousel_Block</class>
            </onsalehorzcarousel>
        </blocks>
		<blocks>
			<catalog>
				<rewrite>
					<product_onsalehorz>VJTemplates_OnSaleHorzCarousel_Block_Product_OnSale</product_onsalehorz>
			   </rewrite>
			 </catalog>
		</blocks> 
    </global>
</config>