<?xml version="1.0"?>
<config>
    <modules>
        <Sareez_Ordercsv>
            <version>0.1.0</version>
        </Sareez_Ordercsv>
    </modules>
    <frontend>
        <routers>
            <ordercsv>
                <use>standard</use>
                <args>
                    <module>Sareez_Ordercsv</module>
                    <frontName>ordercsv</frontName>
                </args>
            </ordercsv>
        </routers>
        <layout>
            <updates>
                <ordercsv>
                    <file>ordercsv.xml</file>
                </ordercsv>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ordercsv>
				<use>admin</use>
				<args>
					<module>Sareez_Ordercsv</module>
					<frontName>ordercsv</frontName>
				</args>
			</ordercsv>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ordercsv module="ordercsv">
				<title>Order CSV</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ordercsv">
						<title>Manage Order CSV</title>
						<sort_order>0</sort_order>
						<action>ordercsv/adminhtml_ordercsv</action>
					</items>
				</children>
			</ordercsv>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ordercsv>
							<title>Ordercsv Module</title>
							<sort_order>2006</sort_order>
								<children>
									<items module="ordercsv">
										<title>Manage Order CSV</title>
										<sort_order>0</sort_order>
										<action>ordercsv/adminhtml_ordercsv</action>
									</items>
								</children>
						</ordercsv>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ordercsv>
					<file>ordercsv.xml</file>
				</ordercsv>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ordercsv>
                <class>Sareez_Ordercsv_Model</class>
                <resourceModel>ordercsv_mysql4</resourceModel>
            </ordercsv>
            <ordercsv_mysql4>
                <class>Sareez_Ordercsv_Model_Mysql4</class>
                <entities>
                    <ordercsv>
                        <table>ordercsv</table>
                    </ordercsv>
                </entities>
            </ordercsv_mysql4>
        </models>
        <resources>
            <ordercsv_setup>
                <setup>
                    <module>Sareez_Ordercsv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercsv_setup>
            <ordercsv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordercsv_write>
            <ordercsv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordercsv_read>
        </resources>
        <blocks>
            <ordercsv>
                <class>Sareez_Ordercsv_Block</class>
            </ordercsv>
        </blocks>
        <helpers>
            <ordercsv>
                <class>Sareez_Ordercsv_Helper</class>
            </ordercsv>
        </helpers>
    </global>
</config>