<?xml version="1.0"?>
<config>
    <modules>
        <Last_Viewed>
            <version>0.1.0</version>
        </Last_Viewed>
    </modules>
    <frontend>
        <routers>
            <viewed>
                <use>standard</use>
                <args>
                    <module>Last_Viewed</module>
                    <frontName>viewed</frontName>
                </args>
            </viewed>
        </routers>
        <layout>
            <updates>
                <viewed>
                    <file>viewed.xml</file>
                </viewed>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<viewed>
				<use>admin</use>
				<args>
					<module>Last_Viewed</module>
					<frontName>viewed</frontName>
				</args>
			</viewed>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<viewed module="viewed">
				<title>Viewed</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="viewed">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>viewed/adminhtml_viewed</action>
					</items>
				</children>
			</viewed>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Last_Viewed>
							<title>Viewed Module</title>
							<sort_order>10</sort_order>
						</Last_Viewed>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<viewed>
					<file>viewed.xml</file>
				</viewed>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <viewed>
                <class>Last_Viewed_Model</class>
                <resourceModel>viewed_mysql4</resourceModel>
            </viewed>
            <viewed_mysql4>
                <class>Last_Viewed_Model_Mysql4</class>
                <entities>
                    <viewed>
                        <table>viewed</table>
                    </viewed>
                </entities>
            </viewed_mysql4>
        </models>
        <resources>
            <viewed_setup>
                <setup>
                    <module>Last_Viewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </viewed_setup>
            <viewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </viewed_write>
            <viewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </viewed_read>
        </resources>
        <blocks>
            <viewed>
                <class>Last_Viewed_Block</class>
            </viewed>
        </blocks>
        <helpers>
            <viewed>
                <class>Last_Viewed_Helper</class>
            </viewed>
        </helpers>
    </global>
</config>