<?xml version="1.0"?>
<config>
	<modules>
		<Qualityunit_Liveagent>
			<version>0.1.0</version>
		</Qualityunit_Liveagent>
	</modules>
	<frontend>
		<routers>
			<liveagent>
				<use>standard</use>
				<args>
					<module>Qualityunit_Liveagent</module>
					<frontName>liveagent</frontName>
				</args>
			</liveagent>
		</routers>
		<layout>
			<updates>
				<liveagent>
					<file>liveagent.xml</file>
				</liveagent>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<liveagent>
				<use>admin</use>
				<args>
					<module>Qualityunit_Liveagent</module>
					<frontName>liveagent</frontName>
				</args>
			</liveagent>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<liveagent module="liveagent" translate="title">
				<title>LiveAgent</title>
				<sort_order>71</sort_order>
				<children>
					<account module="liveagent" translate="title">
						<title>Account settings</title>
						<sort_order>0</sort_order>
						<action>liveagent/adminhtml_liveagent</action>
					</account>					
				</children>
			</liveagent>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Qualityunit_Liveagent>
							<title>Liveagent Module</title>
							<sort_order>10</sort_order>
						</Qualityunit_Liveagent>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<liveagent>
					<file>liveagent.xml</file>
				</liveagent>
			</updates>
		</layout>
		<translate>
            <modules>
                <liveagent>
                    <files>
                        <default>qualityunit_liveagent.csv</default>
                    </files>
                </liveagent>
            </modules>
        </translate>
	</adminhtml>
	<global>
		<models>
			<liveagent>
				<class>Qualityunit_Liveagent_Model</class>
				<resourceModel>liveagent_mysql4</resourceModel>
			</liveagent>
			<liveagent_mysql4>
				<class>Qualityunit_Liveagent_Model_Mysql4</class>
				<entities>
					<liveagentsettings>
						<table>liveagentsettings</table>
					</liveagentsettings>
					<liveagentbuttons>
						<table>liveagentbuttons</table>
					</liveagentbuttons>
				</entities>
			</liveagent_mysql4>
		</models>
		<resources>
			<liveagent_setup>
				<setup>
					<module>Qualityunit_Liveagent</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</liveagent_setup>
			<liveagent_write>
				<connection>
					<use>core_write</use>
				</connection>
			</liveagent_write>
			<liveagent_read>
				<connection>
					<use>core_read</use>
				</connection>
			</liveagent_read>
		</resources>
		<blocks>
			<liveagent>
				<class>Qualityunit_Liveagent_Block</class>
			</liveagent>
			<buttoncode>
				<class>Qualityunit_Liveagent_Block</class>
			</buttoncode>
		</blocks>
		<helpers>
			<liveagent>
				<class>Qualityunit_Liveagent_Helper</class>
			</liveagent>
		</helpers>
	</global>
</config>