<?xml version="1.0"?>
<config>
    <global>
        <models>
            <feedsales>
                <class>Feed_Sales_Model</class>
            </feedsales>
        </models>
        <events>
        <sales_order_place_after>
            <observers>
                <feed_sales_order_observer>
                    <type>singleton</type>
                    <class>feedsales/order_observer</class>
                    <method>export_new_order</method>
                </feed_sales_order_observer>
            </observers>
        </sales_order_place_after>
		<sales_order_save_after>
            <observers>
                <feed_sales_order_observer>
                    <type>singleton</type>
                    <class>feedsales/order_observer</class>
                    <method>save_order</method>
                </feed_sales_order_observer>
            </observers>
        </sales_order_save_after>
		<!--<order_cancel_after>
            <observers>
                <feed_sales_order_observer>
                    <type>singleton</type>
                    <class>feedsales/order_observer</class>
                    <method>save_cancel_order</method>
                </feed_sales_order_observer>
            </observers>
        </order_cancel_after>-->
		<sales_order_payment_pay>
            <observers>
                <feed_sales_order_observer>
                    <type>singleton</type>
                    <class>feedsales/order_observer</class>
                    <method>save_order_pay</method>
                </feed_sales_order_observer>
            </observers>
        </sales_order_payment_pay>
		<sales_order_shipment_save_after>
            <observers>
                <feed_sales_order_observer>
                    <type>singleton</type>
                    <class>feedsales/order_observer</class>
                    <method>order_shipment</method>
                </feed_sales_order_observer>
            </observers>
        </sales_order_shipment_save_after>
    </events>
    </global>
</config>