<?xml version="1.0"?>
<config>
    <modules>
        <Int_Magetooscommerce>
            <version>0.1.0</version>
        </Int_Magetooscommerce>
    </modules>
    <frontend>
        <routers>
            <magetooscommerce>
                <use>standard</use>
                <args>
                    <module>Int_Magetooscommerce</module>
                    <frontName>magetooscommerce</frontName>
                </args>
            </magetooscommerce>
        </routers>
        <layout>
            <updates>
                <magetooscommerce>
                    <file>magetooscommerce.xml</file>
                </magetooscommerce>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <magetooscommerce>
                <class>Int_Magetooscommerce_Model</class>
                <resourceModel>magetooscommerce_mysql4</resourceModel>
            </magetooscommerce>
            <magetooscommerce_mysql4>
                <class>Int_Magetooscommerce_Model_Mysql4</class>
                <entities>
                    <magetooscommerce>
                        <table>magetooscommerce</table>
                    </magetooscommerce>
                </entities>
            </magetooscommerce_mysql4>
        </models>
        <events>
          <sales_order_place_after>
            <observers>
              <Int_Magetooscommerce_Model_Observer>
                <type>singleton</type>
                <class>Int_Magetooscommerce_Model_Observer</class>
                <method>addOrderDataToOS</method>
              </Int_Magetooscommerce_Model_Observer>
            </observers>
          </sales_order_place_after>     
        </events>
        <resources>
            <!--<magetooscommerce_setup>
                <setup>
                    <module>Int_Magetooscommerce</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magetooscommerce_setup>
            -->
            <magetooscommerce_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magetooscommerce_write>
            <magetooscommerce_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magetooscommerce_read>
        </resources>
        <blocks>
            <magetooscommerce>
                <class>Int_Magetooscommerce_Block</class>
            </magetooscommerce>
        </blocks>
        <helpers>
            <magetooscommerce>
                <class>Int_Magetooscommerce_Helper</class>
            </magetooscommerce>
        </helpers>
    </global>
</config>
