<?xml version="1.0"?>
    <config>
        <modules>
            <Npm_Commission>
                <version>0.1.0</version>
            </Npm_Commission>
        </modules>
        <global>

            <models>
                <commission>
                    <class>Npm_Commission_Model</class>
                    <resourceModel>commission_mysql4</resourceModel>
                </commission>
                <commission_mysql4>
                    <class>Npm_Commission_Model_Mysql4</class>
                    <entities>
                        <commission>
                            <table>commission</table>
                        </commission>
                    </entities>
                </commission_mysql4>
            </models>

            <events>
                <sales_order_place_after>
                    <observers>
                        <npm_commission>
                            <type>singleton</type>
                            <class>commission/observer</class>
                            <method>calculate_commission</method>
                        </npm_commission>
                    </observers>
                </sales_order_place_after>
            </events>
            <resources>
                <commission_setup>
                    <setup>
                        <module>Npm_Commission</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </commission_setup>
                <commission_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </commission_write>
                <commission_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </commission_read>
            </resources>
        </global>
    </config>