<?xml version="1.0"?>
<config>
    <modules>
        <Int_Measurement>
            <version>0.1.0</version>
        </Int_Measurement>
    </modules>
    <frontend>
        <routers>
            <measurement>
                <use>standard</use>
                <args>
                    <module>Int_Measurement</module>
                    <frontName>measurement</frontName>
                </args>
            </measurement>
        </routers>
        <layout>
            <updates>
                <measurement>
                    <file>measurement.xml</file>
                </measurement>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <measurement>
                <class>Int_Measurement_Model</class>
                <resourceModel>measurement_mysql4</resourceModel>
            </measurement>
            <measurement_mysql4>
                <class>Int_Measurement_Model_Mysql4</class>
                <entities>
                    <measurement>
                        <table>measurement</table>
                    </measurement>
                </entities>
            </measurement_mysql4>
        </models>
        <resources>
            <measurement_setup>
                <setup>
                    <module>Int_Measurement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </measurement_setup>
            <measurement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </measurement_write>
            <measurement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </measurement_read>
        </resources>
        <blocks>
            <measurement>
                <class>Int_Measurement_Block</class>
            </measurement>
        </blocks>
        <helpers>
            <measurement>
                <class>Int_Measurement_Helper</class>
            </measurement>
        </helpers>
    </global>
</config>